/*-----FONT-----*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----COLORES----*/

:root{
    --color-primary: #0d0d1a; /*Color body*/
    --color-header: #1a1a2e; /*Color header*/
    --color-section: #111128; /*Color section*/
    --color-card: #16213e; /*Color card*/
    --color-accent: #7c3aed; /*Color detalles*/
    --box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px; /*Sombreado*/
    --color-text-main: #fafafa; /*Color texto principal*/
    --color-text-secondary: #eeeeee; /*Color texto secundario*/
    --font-main: 'Poppins', sans-serif; /*Font principal*/
}

/*---RESET BÁSICO---*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---ESTILOS BÁSICOS---*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    font-family: var(--font-main);
    color: var(--color-text-main);
}

img{
    max-width: 100%;
    object-fit: cover;
}

/*----ESTILOS HEADER----*/

header{
    background-color: var(--color-header);
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;

}

.header-container img{
    width: 150px;
}

.title-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}


/*----ESTILOS TARJETAS---*/

main{
    margin-top: 2rem;
}

.section-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: var(--color-section);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.list-anime{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.anime-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--color-card);
    transition: transform 0.3s ease;
}

.anime-card:hover{
    transform: translateY(-8px);
}

.anime-card img{
    border-radius: 15px 15px 0 0;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.card-info{
    padding: 1rem;
}

.card-info span{
    font-size: 0.75rem;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    background-color: var(--color-accent);
}

.card-info strong{
    display: block;
    margin-bottom: 10px;
}